<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442945082873-ft6dv6hpj0nfoi1p5ii1pga3j9m13vlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442945082873-ft6dv6hpj0nfoi1p5ii1pga3j9m13vlr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442945082873-0h4378hihb0th5afm06lcld2puc3176q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBam9MpyXxmMH2_S3wbPmJ99p9yQ2BJAqk</string>
	<key>GCM_SENDER_ID</key>
	<string>442945082873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buzzler.balert</string>
	<key>PROJECT_ID</key>
	<string>sig-in-aff98</string>
	<key>STORAGE_BUCKET</key>
	<string>sig-in-aff98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442945082873:ios:168299b0b6b1d7963b9928</string>
</dict>
</plist>